<!DOCTYPE html>
<html>
<head>
	<title>Golden Wind</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<!-- {{ movie }} -->
<div class="header">
	<ul>
		{% if username %}
		<li>{{ username }}</li>
		{% else %}
		<li><a href="{{ url_for('login') }}">登陆</a></li>
		{% endif %}
		<li><a href="register.html">注册</a></li>
	</ul>
</div>
<div class="under_header">
	<img src="{{ url_for('static', filename='img/logo.png') }}">
	<form method="GET" action="{{ url_for('search') }}">
		<input type="text" placeholder="请输入电影名称" name="search" id = "searchtext">
		<input type="submit" name="search" value="搜索">
	</form>
</div>
<div class="search_result">
	<ul>
		<li>
			<div class="search_list">
				<!-- 这一层列表是显示电影属性的 -->
				<ul>
					{% for movie in movielist %}
					<li>
						<!-- <img src=""> -->
						<label><a href="{{ url_for('detail') }}?movie_name={{ movie[0] }}">{{ movie[0] }}</a></label>
					</li>
					{% endfor %}
				</ul>
			</div>
		</li>
	</ul>
</div>
</body>
</html>