<!DOCTYPE html>
<html>
<head>
	<title>Golden Wind</title>
	<link rel="stylesheet" type="text/css" href=" {{url_for('static', filename = 'css/style.css')}} ">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jquery.flexslider.js') }}"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jquery.flexisel/js' )}}"> -->
</head>
<body>
<div class="header">
	<ul>
		{% if username %}
		<li>{{ username }}</li>
		{% else %}
		<li><a href="{{ url_for('login') }}">登陆</a></li>
		{% endif %}
		<li><a href="{{ url_for('register') }}">注册</a></li>
	</ul>
</div>
<div class="under_header">
	<!-- <img src="{{ url_for('static', filename='img/logo.png') }}"> -->
	<!-- 提交搜索内容与用户名 -->
	<form method="GET" action="{{ url_for('search') }}">
		<input type="text" placeholder="请输入电影名称" name="search" id = "searchtext">
		<input type="submit" name="search" value="搜索">
	</form>
</div>
<div>
	<div class="img_container">
		<!-- <ul class="rslides">
			<li style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s;"><img src="{{ url_for('static', filename='images/2.jpg') }}"></li>
			<li style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;"><img src="{{ url_for('static', filename='images/3.jpg') }}"></li>
		</ul> -->
		<img src="{{ url_for('static', filename='images/2.jpg') }}">
	</div>
	
</div>
<div class = "show_list">
	<ul>
		{% for id in range(2) %}
			<li>
				<div class="show_img">
					<img src="{{ imglist[id] }}">
				</div>
				<div class="show_text">
					{{ textlist[id] }}
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
</body>
</html>