<!DOCTYPE html>
<html>
<head>
	<title>Golden Wind</title>
  <link href="{{ url_for('static',filename='img/logo.ico') }}" rel="shortcut icon" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="https://my.vultr.com/_css/login.css?v=732"> -->
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div class="login-page">
  <div class="form">
    <!-- <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <form class="login-form" method="POST">
      <input required="required" type="text" placeholder="Username" name="username" value="{{
                request.form.username }}"/>
      <input class = "form_control" required="required" type="password" placeholder="Password" name="password" value="{{request.form.password }}">
      <!-- <button>login</button> -->
      <input class = "button" type="submit" value="登陆">
      {% if error %}
        <p class="message"><strong>Error:</strong> {{ error }}
      {% endif %}
      <p class="message">Not registered? <a href="{{ url_for('register') }}">Create an account</a></p>
    </form>
  </div>
  </div>



<!-- 	<div class="container">
        <div class="up_container">
          <div class="up_container_img"><img src="{{ url_for('static', filename = 'img/logo.png') }}"></div>
        </div>
      	<div class="under_container">
          <h2>登陆</h2>
          <div class="banner_content">
            <div class="box_content">
              <form class = "form" action="" method="post">
            <div class="form_group input_group">
                <label>用户名</label> -->
        <!--         <span class="input-group__icon">
                <svg class="icon-ui icon-ui--24" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24">
                 <path class="stroke" d="M2,4h20v16H2V4z"></path>
                 <path class="stroke" d="M2,8l10,5l10-5"></path>
                </svg>
                </span>
                <input class = "form_control" required="required" type="text" placeholder="Username" name="username" value="{{
                request.form.username }}">
            </div>
            <p>
                 <label>密码&nbsp&nbsp</label> -->
    <!--             <input class = "form_control" required="required" type="password" placeholder="Password" name="password" value="{{
                request.form.password }}">
            </p>
            <p><input class="btn btn-default" type="submit" value="登陆"></p>
            </form>
            {% if error %}
              <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
              
            </div>
            
          </div>
      	</div>
      	
    </div>  -->
</body>
</html>